<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>menu</name>
    <sid>891449294939337</sid>
    <event-sheet>event-menu</event-sheet>
    <size>
        <width>1280</width>
        <height>720</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="bg" sid="942338739151907">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="bgmenu2" uid="12">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>640</x>
                        <y>360.106994629</y>
                        <z>0</z>
                        <width>1282</width>
                        <height>722</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.500148177</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="gbr" sid="230017481872640">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="tittle2" uid="15">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <tweened-property>Horizontal</tweened-property>
                                <function>EaseOutBack</function>
                                <target>640.108, 121.851</target>
                                <target-mode>Absolute</target-mode>
                                <duration>2.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Size</movement>
                                <wave>Triangle</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>50</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-374</x>
                        <y>122</y>
                        <z>0</z>
                        <width>726.611450195</width>
                        <height>174.171478271</height>
                        <depth>0</depth>
                        <hotspotX>0.500148177</hotspotX>
                        <hotspotY>0.500618041</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite11" uid="17">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>221</x>
                        <y>435</y>
                        <z>0</z>
                        <width>260</width>
                        <height>380</height>
                        <depth>0</depth>
                        <hotspotX>0.502638519</hotspotX>
                        <hotspotY>0.477396011</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="buton" uid="18">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <SaveX>0</SaveX>
                        <SaveY>0</SaveY>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Size</tweened-property>
                                <function>EaseOutBack</function>
                                <target>0,0</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.2</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>623</x>
                        <y>290</y>
                        <z>0</z>
                        <width>302.592010498</width>
                        <height>70.510787964</height>
                        <depth>0</depth>
                        <hotspotX>0.494007975</hotspotX>
                        <hotspotY>0.45714286</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="buton2" uid="19">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <SaveX>0</SaveX>
                        <SaveY>0</SaveY>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Size</tweened-property>
                                <function>EaseOutBack</function>
                                <target>0,0</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.2</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>624</x>
                        <y>391</y>
                        <z>0</z>
                        <width>330.003997803</width>
                        <height>79.102081299</height>
                        <depth>0</depth>
                        <hotspotX>0.500624239</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="buton3" uid="20">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <SaveX>0</SaveX>
                        <SaveY>0</SaveY>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Size</tweened-property>
                                <function>EaseOutBack</function>
                                <target>0,0</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.2</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>619</x>
                        <y>493</y>
                        <z>0</z>
                        <width>345.445709229</width>
                        <height>91.707611084</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.502242148</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite12" uid="16">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1030</x>
                        <y>435</y>
                        <z>0</z>
                        <width>260</width>
                        <height>380</height>
                        <depth>0</depth>
                        <hotspotX>0.497361481</hotspotX>
                        <hotspotY>0.477396011</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="buton8" uid="26">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1154.701904297</x>
                        <y>42.316680908</y>
                        <z>0</z>
                        <width>114.387496948</width>
                        <height>55.460605621</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
